
@{
    ViewBag.Title = "Pic会员不同等级人数占比，饼图";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}
<div id="main" style="width: 600px;height:400px;"></div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/js/echarts.min.js"></script>
<script type="text/javascript">

    $(function () {
        $.ajax({
            url:"/admin/Agent/Pic1",
            type: "POST",
            success: function (date) {
                var series_data;
                //console.log(date.status.dates[0]['value'])
                console.log(date.status.dates[0].value)
               
    var myChart = echarts.init(document.getElementById('main'));
    series_data = [
           { value: date.status.dates[0].value },
           { value: 310, name: '邮件营销' },
           { value: 234, name: '联盟广告' },
           { value: 135, name: '视频广告' },
           { value: 1548, name: '搜索引擎1' }];



    option = {
        title: {
            text: '某站点用户访问来源',
            subtext: '纯属虚构',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} <br/> ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎1']
        },
        series: [
            {
                name: '会员等级比例',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: series_data,
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

   
    myChart.setOption(option);
            }
        })
    })
</script>